body {
  background-color: #030007;}
h1{
  color: #8A888F;}

input
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container{
  background-color: #FFFFFF;
  width: 320px;
  height: 25vh;
  border-radius: 22px;
  position: absolute;
  left: 50%;
  top: 25%;
  margin-top: 1px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 45px;
}


footer {
	font-weight: 650;
	font-size: 20px;
}

#result {
	font-style: bold;
}
